MyProject2.exe filter=lfs diff=lfs merge=lfs -text
FPSGame.exe filter=lfs diff=lfs merge=lfs -text
FPSGameDevel.exe filter=lfs diff=lfs merge=lfs -text
WindowsNoEditor.zip filter=lfs diff=lfs merge=lfs -text
